<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/favicon-choking.ico">

    <title>Is Bristol Choking?</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/album.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
  </head>

  <body>

    <!--<header>-->
      <!--<div class="collapse bg-dark" id="navbarHeader">-->
        <!--<div class="container">-->
          <!--<div class="row">-->
            <!--<div class="col-sm-8 col-md-7 py-4">-->
              <!--<h4 class="text-white">About</h4>-->
              <!--<p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>-->
            <!--</div>-->
            <!--<div class="col-sm-4 offset-md-1 py-4">-->
              <!--<h4 class="text-white">Contact</h4>-->
              <!--<ul class="list-unstyled">-->
                <!--<li><a href="#" class="text-white">Follow on Twitter</a></li>-->
                <!--<li><a href="#" class="text-white">Like on Facebook</a></li>-->
                <!--<li><a href="#" class="text-white">Email me</a></li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="navbar navbar-dark bg-dark box-shadow">-->
        <!--<div class="container d-flex justify-content-between">-->
          <!--<a href="#" class="navbar-brand d-flex align-items-center">-->
            <!--[><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg><]-->
            <!--<strong>Is Bristol Choking?</strong>-->
          <!--</a>-->
          <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</header>-->

    <main role="main">

      <section class="jumbotron text-center">
            <div class="loader-container">
              <div class="group-1">
                <div class="line line1">
                  <div class="dash dash-1 exp-40 div"></div>
                  <div class="dash dash-2 exp-70 class-name"></div>
                  <div class="dash dash-3 exp-110 class"></div>
                  <div class="dash dash-4 exp-70 class"></div>
                </div>
                <div class="line line2">
                  <div class="dash dash-1 exp-40 div"></div>
                  <div class="dash dash-2 exp-70 class-name"></div>
                  <div class="dash dash-3 exp-90 class"></div>
                </div>
                <div class="line line3">
                  <div class="dash dash-1 exp-300 par"></div>
                </div>
                <div class="line line4">
                  <div class="dash dash-1 exp-200 par"></div>
                </div>
                <div class="line line5">
                  <div class="dash dash-1 exp-40 div"></div>
                </div>
                <div class="line line6">
                  <div class="dash dash-1 exp-40 div"></div>
                </div>
              </div>


              <div class="group-2">
                <div class="line line1">
                  <div class="dash dash-1 div"></div>
                  <div class="dash dash-2 class-name"></div>
                  <div class="dash dash-3 class"></div>
                  <div class="dash dash-4 class"></div>
                </div>
                <div class="line line2">
                  <div class="dash dash-1 div"></div>
                  <div class="dash dash-2 exp70 class-name"></div>
                  <div class="dash dash-3 exp90 class"></div>
                </div>
                <div class="line line3">
                  <div class="dash dash-1 par"></div>
                </div>
                <div class="line line4">
                  <div class="dash dash-1 par"></div>
                </div>
                <div class="line line5">
                  <div class="dash dash-1 div"></div>
                </div>
                <div class="line line6">
                  <div class="dash dash-1 div"></div>
                </div>
              </div>
            </div>
        <div class="container scraping-heading">
            <h1 class="jumbotron-heading">Please wait</h1>
            <p class="lead text-muted">Scraping latest data from Bristol Air Quality website...</p>
        </div>
        <div class="container status-heading">
            <h1 class="jumbotron-heading">Opps</h1>
            <p class="lead text-muted">Something went wrong! Is the Bristol Air Quality site up?</p>
          <p>
            <a href="#choking?" class="btn btn-primary my-2">Choking?</a>
            <a href="#about" class="btn btn-secondary my-2">About</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 box-shadow" id="wells-rd">
                  <!--<a href='{{url[1]}}{{urlcodes['Wells Rd']}}'><img class="card-img-top" src="static/wellsrd-ok.png" alt="Card image cap"></a>-->
                  {{
                    googlemap(
                        identifier="wells-rd-map",
                        varname="mwellsrd",
                        lat=51.42788,
                        lng=-2.56374,
                        zoom_control=False,
                        maptype_control=False,
                        scale_control=False,
                        streetview_control=False,
                        rotate_control=False,
                        fullscreen_control=False,
                        markers=[(51.42788, -2.56374)]
                    )
                  }}
                <div class="card-body">
                  <h4 class="card-title">Wells Road</h4>
                  <p class="card-text">15 minute NO&#8322 average: <b><span class="no2-15m">-</span> &#181g/m&#179</b></p>
                  <p class="card-text no2-24h" data-toggle="tooltip" data-placement="bottom" title="Over the EU legal limit of 200 &#181g/m&#179 at a residential facade">Peak average NO&#8322 value in 24 hour window: <b><span class="no2-24h">-</span> &#181g/m&#179</b>
                  <span class="fa fa-exclamation-circle" aria-hidden="true" style="display:none;"></span>
                  </p>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href='{{url[0]}}{{urlcodes['Wells Rd']}}' class="btn btn-sm btn-outline-secondary">Source</a>
                      <a href='{{url[1]}}{{urlcodes['Wells Rd']}}' class="btn btn-sm btn-outline-secondary">Location</a>
                    </div>
                    <small class="text-muted">Scraped <span class="scrape-time">-</span> mins ago</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 box-shadow" id="parson-st">
                <!--<img class="card-img-top" src="static/bris-depot-ok.png" alt="Card image cap">-->
                  {{
                    googlemap(
                        identifier="parson-st-map",
                        varname="mparsonst",
                        lat=51.4326,
                        lng=-2.6052,
                        zoom_control=False,
                        maptype_control=False,
                        scale_control=False,
                        streetview_control=False,
                        rotate_control=False,
                        fullscreen_control=False,
                        markers=[(51.4326, -2.6052)]
                    )
                  }}
                <div class="card-body">
                  <h4 class="card-title">Parson Street</h4>
                  <p class="card-text">15 minute NO&#8322 average: <b><span class="no2-15m">-</span> &#181g/m&#179</b></p>
                  <p class="card-text no2-24h" data-toggle="tooltip" data-placement="bottom" title="Over the EU legal limit of 200 &#181g/m&#179 at a residential facade">Peak average NO&#8322 value in 24 hour window: <b><span class="no2-24h">-</span> &#181g/m&#179</b>
                  <span class="fa fa-exclamation-circle" aria-hidden="true" style="display:none;"></span>
                  </p>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href='{{url[0]}}{{urlcodes['Parson St']}}' class="btn btn-sm btn-outline-secondary">Source</a>
                      <a href='{{url[1]}}{{urlcodes['Parson St']}}' class="btn btn-sm btn-outline-secondary">Location</a>
                    </div>
                    <small class="text-muted">Scraped <span class="scrape-time">-</span> mins ago</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 box-shadow" id="bristol-depot">
                <!--<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">-->
                  {{
                    googlemap(
                        identifier="brisdepot-map",
                        varname="mbrisdepot",
                        lat=51.4418,
                        lng=-2.5599,
                        zoom_control=False,
                        maptype_control=False,
                        scale_control=False,
                        streetview_control=False,
                        rotate_control=False,
                        fullscreen_control=False,
                        markers=[(51.4418, -2.5599)]
                    )
                  }}
                <div class="card-body">
                  <h4 class="card-title">Brislington Depot</h4>
                  <p class="card-text">15 minute NO&#8322 average: <b><span class="no2-15m">-</span> &#181g/m&#179</b></p>
                  <p class="card-text no2-24h" data-toggle="tooltip" data-placement="bottom" title="Over the EU legal limit of 200 &#181g/m&#179 at a residential facade">Peak average NO&#8322 value in 24 hour window: <b><span class="no2-24h">-</span> &#181g/m&#179</b>
                  <span class="fa fa-exclamation-circle" aria-hidden="true" style="display:none;"></span>
                  </p>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href='{{url[0]}}{{urlcodes['Bristol Depot']}}' class="btn btn-sm btn-outline-secondary">Source</a>
                      <a href='{{url[1]}}{{urlcodes['Bristol Depot']}}' class="btn btn-sm btn-outline-secondary">Location</a>
                    </div>
                    <small class="text-muted">Scraped <span class="scrape-time">-</span> mins ago</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 box-shadow" id="fishponds">
                <!--<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">-->
                  {{
                    googlemap(
                        identifier="fishponds-map",
                        varname="mfishponds",
                        lat=51.47805,
                        lng=-2.5352,
                        zoom_control=False,
                        maptype_control=False,
                        scale_control=False,
                        streetview_control=False,
                        rotate_control=False,
                        fullscreen_control=False,
                        markers=[(51.47805, -2.5352)]
                    )
                  }}
                <div class="card-body">
                  <h4 class="card-title">Fishponds</h4>
                  <p class="card-text">15 minute NO&#8322 average: <b><span class="no2-15m">-</span> &#181g/m&#179</b></p>
                  <p class="card-text no2-24h" data-toggle="tooltip" data-placement="bottom" title="Over the EU legal limit of 200 &#181g/m&#179 at a residential facade">Peak average NO&#8322 value in 24 hour window: <b><span class="no2-24h">-</span> &#181g/m&#179</b>
                  <span class="fa fa-exclamation-circle" aria-hidden="true" style="display:none;"></span>
                  </p>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href='{{url[0]}}{{urlcodes['Fishponds']}}' class="btn btn-sm btn-outline-secondary">Source</a>
                      <a href='{{url[1]}}{{urlcodes['Fishponds']}}' class="btn btn-sm btn-outline-secondary">Location</a>
                    </div>
                    <small class="text-muted">Scraped <span class="scrape-time">-</span> mins ago</small>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title" id="choking?">Choking?</h2>
                  <p class="card-text">An area is classed as <em>choking</em> if the current 15 minute average NO<sub>2</sub> value is greater than the <a href='http://ec.europa.eu/environment/air/quality/standards.htm'>annual mean legal limit set by the EU of 40 &#181g/m&#179</a> and as stated in the <a href='http://www.who.int/mediacentre/factsheets/fs313/en/'>WHO guidelines</a>. It's my own term to avoid saying that it is <em>illegal</em> but is trending that way.</p>
                  <p>Whilst it is not good science to predict compliance based on a short term reading, I want to provide at least some context for levels of which one otherwise has no relative concept. The point it tries to make is that <a href='https://www.bristol.gov.uk/documents/20182/32675/Air+Quality+Annual+Status+Report+ASR+Report+2017/9c167d10-1fef-bf3b-15eb-fa07d9e13f9d'>Bristol surpasses the mean levels</a> and to show the reason in real-time. Have a read of the material referenced in the <a href='#about'>about</a> section below for the health problems attributed to air pollution at, and below these levels. It's also worth re-stating the footnote on the <a href='http://www.bristol.airqualitydata.com/'>Bristol Air Quality Data</a> website: "All data supplied are non-validated and for information only".</p>
                </div>
                <div class="card-body">
                  <h2 class="card-title" id="about">About</h2>
                  <p class="card-text">I created this site to highlight the problem of air pollution in Bristol and bring the little known air quality data collection provided by the council into the limelight.</p>
                  <p class="card-text">Air pollution is considered the largest environmental cause of disease and death in the World and yet is largely sidelined by Governments and citizens <a target='_blank' href='http://www.thelancet.com/commissions/pollution-and-health'>[1]</a>. It's the second biggest killer of people in the UK after smoking, relating to 8% (~50,000) of all deaths <a target='_blank' href='http://www.independent.co.uk/environment/pollution-air-clean-water-vehicles-diesel-car-tax-lancet-report-deaths-fatal-disease-a8009751.html'>[2]</a>. Media reporting of events is inversely proportionate to frequency (it's <em>news</em> after all), so air pollution doesn't get headlines due to the unfortunate fact that it is common place, invisible and we're all used to it. I want this site to bring it attention in an easy to understand way.</p>
                  <p class="card-text">Bristol levels are some of the worst in the country and frequently break the EU legal levels we have agreed to meet, resulting in fines <a target='_blank' href='https://www.bristol.gov.uk/documents/20182/32675/Air+Quality+Annual+Status+Report+ASR+Report+2017/9c167d10-1fef-bf3b-15eb-fa07d9e13f9d'>[3]</a>. As a Bristolian living in South Bristol, who walks through many of the hotspots (they are hard to avoid!) on a daily basis, it is a problem close to me and one I want to do what I can to address. Whether you agree with the methods of relating deaths to air pollution or not, you cannot discount the smell, taste and overwhelming congestion around Bristol.
                  <h4 class="card-title">That's Great, But How Does This Help?</h4>
                  <p class="card-text">As an engineer, I'm using what skills I have to available to me as an individual to hopefully engage others - Hacktivism if you will. Sure I could try and invent a miracle air pollution filter that could hang over Bristol but that wouldn't be a weekend project! The point is that if the mindsets of people can change to one of understanding the perpetual background treat, then changes that are required to promote reduction in air pollution will be more welcomed.
                  <h4 class="card-title">What Can We Do About It?</h4>
                  <p class="card-text">The majority of harmful air pollution (Nitrogen Dioxide) caused in developed cities like Bristol is from combustion engines, mostly from diesel. Reduction in car use is a great way to reduce these levels. One great thing about Bristol is that most places are within short walking distance - try walking and you might be surprised how little time it takes to get places. Additionally, cycling and use of public transport are other great alternatives. Congestion charging is currently unpopular but is it is proven method in the reduction of pollution levels <a target='_blank' href='https://www.theguardian.com/environment/2017/jul/26/the-governments-air-pollution-plan-is-a-beautiful-smokescreen'>[4]</a>. Local governments will not act with decisive methods like this until the people see fixing the problem as a priority and understand that changes in lifestyle will be required. 
                  <p class="card-text">Too often the outcome of the congestion problem is to build more roads but this only results in more traffic and pollution, not a easing of congestion. There are many other great benefits to a city from reduced car use and the return of the public space that has been eroded by roads. Electric cars are a solution to un-contained emissions in cities but we are in danger of missing a valuable opportunity to improve quality of life if we just see them as a solution to this single problem; disregarding obesity, social cohesion, etc. This is in danger of becoming a ramble but have a view of the video below if you want to hear about Barcelona's interesting approach.</p>
                  <div class="col-md-6 offset-md-3 embed-responsive mt-4 mb-4 embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/ZORzsubQA_M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                  <h4 class="card-title">How Does It Work?</h4>
                  <p class="card-text">A Python script <a href='https://en.wikipedia.org/wiki/Web_scraping'>scrapes</a> the air pollution figures from each of the four monitoring stations made public by Bristol City Council on their <a href='http://www.bristol.airqualitydata.com/'>Bristol Air Quality Data</a> website, every 15 minutes. Basically, this means my Python script is <em>viewing</em> that website every time the data updates and extracting the air pollution figures from it. The data is then rendered into this web page via a <a href='http://flask.pocoo.org/'>Flask</a> web app.</p>
                  <p class="card-text">If operator of the site is reading this and worried about undue strain on their resources, don't worry, the result is cached so that a single request is made at most every 15 minutes, rather than each time a user requests this page. I hope that this page is welcomed, I had a long hard read of the <a href='http://www.bristol.airqualitydata.com/cgi-bin/page.cgi?1003'>legal section</a> but saw nothing of note! I talked to one of monitoring station maintainers at the Totterdown Art Trail and he mentioned an API would be coming soon, it would be useful if I could get information on this and transition the site to it, rather than rely on scraping.
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>This website uses data from the <a href='http://www.bristol.airqualitydata.com/'>Bristol Air Quality Data</a> website but is in no way affiliated with it or with Bristol City Council.</p>
        <small>2018 <a href="https://www.jbrengineering.co.uk">JBR Engineering Research Ltd</a>. Running Python Flask with a Bootstrap template - <a href='https://github.com/tuna-f1sh/bristol-choking'>see the source</a>. Hosted by <a href='https://heroku.com'>Heroku</a></small>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="static/popper.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js" integrity="sha256-WPeFPWD3PZQUDrpFnDM1N2KadNVwCfNS4cCZ78b76T8=" crossorigin="anonymous"></script>
    <script src="static/load-data.js"></script>
  </body>
</html>
